[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = {extras = ["voice"],version = "*"}
requests = "*"
peewee = "*"
gevent-eventemitter = "*"
ptable = "*"
pillow = "*"
pyttsx3 = "*"
tts = {git = "https://github.com/DeepHorizons/tts"}
keyboard = "*"
